#input-field {
  margin-top: 50px;
}

#list-of-trips {
  margin-left: 4%;
}

.review-entry {
  margin-top: 20px;
  display: none;
  border: 2px solid black;
}

.header {
  text-align: center;
  font-family: 'Bree Serif', serif;
}

.been-or-wish {
  font-family: 'Bree Serif', cursive;
}

.label-name {
  font-family: 'Bree Serif', cursive;
}

.wish-list {
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
}

.review-heading {
  text-align: center;
}

.review-spacer {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

#cancel-btn {
  margin-bottom: 10px;
}

#submit-review-btn {
  margin-bottom: 10px;
}

.radio {
  margin-left: 10px;
  padding: 10px;
  font-size: 16px;
}

#radio-visited {

}

#radio-wish {

}

body {
  background: radial-gradient(at top right, #F9FCA2 10%, #B6E0FA 20%);
}








