#input-field {
  margin-top: 50px;
}

#list-of-trips {
  margin-left: 4%;
}

.review-entry {
  margin-top: 20px;
  display: none;
  border: 2px solid black;
}

.header {
  text-align: center;
}

.wish-list {
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
}

.review-heading {
  text-align: center;
}

.review-spacer {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

#cancel-btn {
  margin-bottom: 10px;
}

#submit-review-btn {
  margin-bottom: 10px;
}








